<!DOCTYPE html>
<html>
  <head>
    <title>InvestmentClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'spectral', media: 'all' %>
    <%= javascript_include_tag 'spectral' %>
    <script src="https://use.fontawesome.com/1494e0c4f8.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  </head>

  <body class="landing">
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

